.grille{
    margin: 0 auto;
    width: 700px;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 150px 80px 150px;
    gap:20px;
}

.first{
    grid-row: 1 / 2;
    grid-column: 1/2;
    object-fit: cover;
}

.second{
    grid-row: 1 / 3;
    grid-column: 2/3;
    object-fit: cover;
}

.third{
    grid-row: 2 / 4;
    grid-column: 1/2;
    object-fit: cover;
}

.fourth{
    grid-row: 3 / 4;
    grid-column: 2/3;
    object-fit: cover;
}

.w-700px{
    width: 700px;
}